.container {
  text-align: center;
  display: block;
  margin: 0 auto;
}

#memoria {
  display: block;
  margin: 0 auto;
}

#memoria #timer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px; 
  font-weight: bold;
  text-align: center;
  background-color: lightgray;
  border-radius: 10px;
}

#memoria {
  max-width: 90%;
}

#memoria img {
  margin-bottom: 20px;
  border: thin solid black;
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

#memoria #rodape {
  text-align: center;
}

/* Adicione responsividade para celular */
@media screen and (max-width: 700px) {
  .container {
    margin-top: 20px;
  }
  #memoria img {
    width: 80px;
    height: 80px;
  }
}

/* Adicione responsividade para tablet */
/* For tablets: */
@media only screen and (min-width: 701px) {
  .container {
    margin-top: 30px;
  }
  #memoria img {
    width: 140px;
    height: 140px;
  }
}

@media only screen and (min-width: 900px) {
  /* For desktop: */
  .container {
    width: 80%;
     margin-top: 0px; 
  }

  #memoria img {
    width: 110px;
    height: 110px;
    margin: 5px;
  } 

  #timer {
    font-size: 20px;
  }
  #memoria #rodape {
    margin: 10px;
  }
}
