* {
  /* Reset formatações iniciais. */
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;  
}

body {
  height: 100%;
  width: 100%;
  background-color: DodgerBlue;
}
.flex-container {
  display: flex;
  justify-content: center; 
}

.main-game {
  padding: 10px 10px; 
}

.texto-title {
  text-align: center;
  color: black;
  font-size: 16pt;
  font-weight: normal;
  line-height: 1.5rem;
  margin: 0px;
}

.corpoGenius {
  height: 28rem;
  width: 28rem;
  background-color: #373337;
  padding: 3rem;
  border-radius: 100%;  
  display: block;
  margin: auto auto;
}

.genius {
  display: grid;
  grid-template-areas: "verde vermelho" "amarelo azul";
  gap: 10px;
  border: 1px solid #373337;
  background-color: #373337;
  height: 28rem;
  width: 28rem;
  border-radius: 100%;
}

.green {
  grid-area: verde;
  background-color: #4CAF50;;
  border-top-left-radius: 100%;
}

.yellow {
  grid-area: amarelo;
  background-color: yellow;
  border-bottom-left-radius: 100%;
}

.red {
  grid-area: vermelho;
  background-color: red;
  border-top-right-radius: 100%;
}

.blue {
  grid-area: azul;
  background-color: blue;
  border-bottom-right-radius: 100%;
}

.selected {
  opacity: 0.2;
}

.badge {
  border-radius: 0.75rem;
  min-width: 1.3rem;
  text-align: center;
  margin-right: 1rem;
}

.button {
  background-color:#4CAF50; /* Green*/
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 4px;
  cursor: pointer;

}

#btnRepetir{
background-color: yellow;
}

#score{
  background-color: red;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* para mobile phones */
@media screen and (max-width: 700px) {
  
  .texto-title{
    margin: 20px;
  }

  .button{
    margin: 20px 2px;
  }
  .corpoGenius {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
  }
  
  .genius {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
  }
 
}
  