body {
    margin: 0;
    background-color: rgb(206, 255, 239);
}

.main-game {
    height: 100vh;
    width: 100vh;
    display: flex;
    align-items: center;
}
.genius {
    display: grid;
    grid-template-areas: 'green red' 'yellow blue';
    gap: 10px;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 100%;
    width: 700px;
    height: 700px;    
}